#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
}

:invalid {
    border: 1px solid crimson;
}

:valid {
    border: 1px solid rgb(10, 185, 10);
}